#root-modal-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    #box-modal-sidebar-right {
        background-color: var(--background-sidebar);
        border: 1px solid var(--background-sidebar-h);
        display: none;
        overflow: auto;
        height: 100vh;
        max-height: 100vh;
        min-width: 200px;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: 0px 0px 10px 0px var(--background-page-container-shadow);
        &.open-modal-sidebar {
            display: block;
        }
        .box-modal-sidebar-title{
            padding: 10px 20px 0px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h3{
                margin: 0;
            }
            svg{
                font-size: 24px;
            }
        }
    }
}