:root {
  --primary-bg: #F1A10A;
  --primary-bgh: #cc8707;
  --primary-color: #ffffff;

  --secondary-bg: #222222;
  --secondary-bgh: #2D2D2D;
  --secondary-color: #ffffff;

  --success-bg: #00a65a;
  --success-bgh: #028a4d;
  --success-color: #fff;

  --error-bg: #dd4b39;
  --error-bgh: #bb3725;
  --error-color: #fff;

  --warning-bg: #f39c12;
  --warning-bgh: #d3860c;
  --warning-color: #fff;

  --info-bg: #63a2f3;
  --info-bgh: #3d8df5;
  --info-color: #fff;

  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #3e5055;
  --scrollbar-thumbh: #2f3d41;

  --background-page: #fff;
  --color-page: #2D2D2D;
  --background-container: linear-gradient(to right, #F1A10A, #222222);
  --background-page-container: #fff;
  --background-page-container-shadow: #2c2c2c;

  --background-header: #2D2D2D;
  --background-header-h: #F1A10A;
  --background-header-b: #F1A10A;
  --color-header: #fff;
  --background-top-header: #252d39;

  --background-sidebar: #fff;
  --background-sidebar-h: #86c33a;
  --background-sidebar-hc: #e8f6e6;
  --color-sidebar: #252d39;
  --color-sidebar-h: #fff;

  --background-footer: #2D2D2D;
  --background-footer-h: #F1A10A;
  --color-footer: #fff;

  --input-bg: #fff;
  --input-bgh: #666;
  --input-color: #252d39;

  --list-bg: transparent;
  --list-bg-h: #BBC1C9;
  --list-color: #515252;
  --list-color-h: #515252;

  --list-bg-header: #ECECEC;
  --list-color-header: #A2A4A4;
  --list-border-header: #A2A4A4;

  --modal-bg: #fff;
  --modal-bgo: #000000c9;
  --modal-bgh: #b8b8b8;
  --modal-color: #252d39;
}
